<% @courses.each do |course| %>
<div>
  <h1><%= course.name %></h1>
  <p><%= course.description %></p>
  <div style="display: flex; flex-direction: row;">
    <% @videos.all_by_course(course.id).each do |video| %>
    <div style="margin:2%"><%= youtube_video "http://www.youtube.com/embed/eCfDxZxTBW4"%></div>
    <% end %>
  </div>
  <div style="display: flex; flex-direction: row;">
    <p style="margin-right: 1%"; margin-left: 1%"><%= link_to "Invite", new_course_invitation_path(course) %></p>
    <p style="margin-right: 1%"><%= link_to "Edit", edit_course_path(course) %></p>
    <p style="margin-right: 1%"><%= link_to "Delete", course_path(course),
      method: :delete,
      data: { confirm: "Are you sure?" } %></p>
    <p style="margin-right: 1%"><%= link_to "Status", course_invitations_path(course) %></p>
  </div>
</div>
<% end %>
